body {
    background-color: aqua;
    text-align: center;
}

#printArray {
    color: white;
    background-color: black;
    width: fit-content;
    text-align: center;
    margin: auto;
}

#array {
    
}

#buttonObject {
    margin-top: 5%;
}

#classObject {
    margin-top: 5%;
}

.printObject {
    display: block;
}